body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}
.tab {
            display: inline-block;
            margin-left: 40px;
        }
a
{
  color: #ffffff;
  text-decoration: none;
}

.header
{
	width:100%;
	padding: 40px 0;
}

.icons
{
  margin: 20px;
}

.nav
{
	width:100%;
	text-align: center;
	background-color: #292929;
}

.navdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.win10
{
	width: 250px;
	height: 155px;
	float:left;
}

.win10:hover
{
	background-color: #4668b3;
}

.linux
{
	width: 250px;
	height: 155px;
	float:left;
}

.linux:hover
{
	background-color: #d94348;
}

.macos
{
	width: 250px;
	height: 155px;
	float:left;
}

.macos:hover
{
	background-color: #3095d3;
}

.android
{
	width: 250px;
	height: 155px;
	float:left;
}

.android:hover
{
	background-color: green;
}

.footer
{
	text-align: center;
	background-color: #222222;
	padding: 30px;
}
.b
{
  font-size: 25px;
  color: #FF0000;
  text-align: center;
}